#options_menu *{
    display: inline-block;
}

#options_menu button{
    width: 12vw;
    height: 3vw;
    margin: 0.5vh;
    background-color: #c69c6d;
    border: none;
    font-size: 1.1vw;
    transition: all 0.25s ease-in-out;
}

#options_menu button:hover {
    transform: scale(1.03);
}

#liked_list {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 3%;
}

#liked_list ul {
    position: relative;
    display: block;
    width: 65%;
    list-style: none;
    margin: 0 3%;
}

#liked_list ul li{
    display: inline-block;
    width: 100%;
    padding: 3%;
    transition: 0.25s ease-in-out;
}

#liked_list ul img{
    width: 20%;
    margin: 2%;
    float: left;
}

#liked_list ul h3{
    text-align: left;
    margin: 2%;
}

#liked_list ul cite{
    text-align: left;
    display: flex;
    margin: 2%;
    font-size: 1.3vw;
}

#liked_list .price {
    display: block;
    margin: 2%;
    width: 60%;
    font-size: 1.2vw;
}

#liked_list ul button{
    width: 30%;
    height: 3vw;
    margin: 0.5vh;
    background-color: #c69c6d;
    border: none;
    font-size: 1.1vw;
    transition: all 0.25s ease-in-out;
}


#liked_list ul button:hover {
    transform: scale(1.03);
}

#text_liked_page {
    display: block;
    width: 27%;
    padding: 3% 0 3% 3%;
    text-align: center;
}

#text_liked_page cite{
    margin-top: 2vh;
}

#empty {
    position: absolute;
    left: 30%;
    top: 50%;
    color: silver;
    transform: translateY(-50%);
}

@media (max-width: 75vh) {

    #options_menu cite{
        margin-left: 2vw;
        width: 100%;
    }

    #options_menu button{
        display: inline-block;
        width: 45%;
        height: 3.5vh;
        margin: 1vw 2%;
        background-color: #c69c6d;
        border: none;
        font-size: 2vh;
        transition: all 0.25s ease-in-out;
    }
    
    #options_menu button:hover {
        transform: scale(1.03);
    }

    #liked_list ul {
        width: 100%;
    }
    #text_liked_page {
        width: 100%;
        padding: 3%;
    }

    #liked_list ul img{
        width: 100%;
        margin: 1vh 0;
    }

    #liked_list ul cite{
        font-size: 2.3vh;
    }

    #liked_list .price {
        display: block;
        margin: 2%;
        width: 60%;
        font-size: 2.1vh;
    }
    
    #liked_list ul button{
        width: calc(50% - 2vh);
        height: 4vh;
        margin: 0.5vh;
        background-color: #c69c6d;
        border: none;
        font-size: 2vh;
    }

    #empty {
        position: relative;
        width: 100%;
        height: 10vh;
        left: 0;
        margin-top: 10vh;
        color: silver;
        transform: translateY(-50%);
    }
}